<ion-content>
  <ion-slides pager=true style="height: 100%" #mySlider>
    <ion-slide class="slider">
      <div class="slide-img-padding">
        <img src="assets/icon/shopping-bag.svg">
      </div>
      <div>
        <h1>Tanpa Stock & Modal</h1>
      </div>
      <div>
        <p><strong>Nabiilahstore</strong> menggunakan sistem dropshiper; yakni semua stock barang, packing hingga pengiriman kami yg melakukan, dan reseller hanya tinggal menjualkan barang</p>
      </div>
    </ion-slide>
    <ion-slide class="slider">
      <div class="slide-img-padding">
        <img src="assets/icon/dress.svg">
      </div>
      <div>
        <h1>Barang Original</h1>
      </div>
      <div>
        <p><strong>Nabillahstore</strong> menjual produk gamis syar’i, dress, kaftan dan hijab branded yang original langsung dari produsen dengan bahan berkualitas dan harga yang murah</p>
      </div>
    </ion-slide>
    <ion-slide class="slider">
      <div class="slide-img-padding">
        <img src="assets/icon/mobile.svg">
      </div>
      <div>
        <h1>Order Lebih Cepat!</h1>
      </div>
      <div>
        <p><strong>Nabiilahstore</strong> menggunakan sistem order berbasis aplikasi sehingga reseller dengan cepat dapat memesan setiap barang tanpa harus menunggu balasan dari cs kami</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-grid fixed>
    <ion-row *ngIf="!regButton">
      <ion-col size="10" offset="1">
        <ion-button class="btn-tertiary" fill="clear" expand="full" (click)="next()">Selanjutnya</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="regButton">
      <ion-col size="10" offset="1">
        <ion-button class="btn-tertiary" fill="clear" expand="full" routerLink="/register">DAFTAR SEKARANG</ion-button>
      </ion-col>
    </ion-row>
    <!--
    <ion-row class="bawah">
      <ion-col size="10" offset="1">
        <ion-button color="tertiary" fill="ouline" shape="round" expand="full" routerLink="/login">Sudah Memiliki Akun</ion-button>
      </ion-col>
    </ion-row>
  -->
  </ion-grid>
</ion-footer>