<ion-content>
  <ion-slides pager=true style="height: 100%" #mySlider>
    <ion-slide class="slider" *ngFor="let slide of slide">
      <div class="slide-img-padding">
        <img [src]="slide.img">
      </div>
      <div>
        <h1 [innerHTML]="slide.title"></h1>
      </div>
      <div>
        <p [innerHTML]="slide.desc"></p>
      </div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-button class="btn-tertiary" fill="clear" expand="full" (click)="slide.act" [innerHTML]="slide.button"></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<!--
<ion-footer no-border>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button class="btn-tertiary" fill="clear" expand="full" routerLink="/register">DAFTAR SEKARANG</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="bawah">
      <ion-col size="10" offset="1">
        <ion-button color="tertiary" fill="ouline" shape="round" expand="full" routerLink="/login">Sudah Memiliki Akun</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
-->